body {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 3vh;
    margin-top: 3vh;
}

.post-card {
    width: 17%;
    background: coral;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 2vh;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    font-size: 2vw;
}

p {
    text-align: justify;
    font-size: 2vw;
}