:root {
    --col-h2: #ebf8f8;
    --bg-bthHover: #9d0f29;
}

.usersMain {
    background-image: url("IdeaProjects/mini_project_javaScript_sep_2022/mini_project/backgroundPictures/wall-background.jpg");
    height: 100vh;
    background-attachment: fixed;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userBtnDiv {
    width: 40%;
    /*border: 1px solid #ebf8f8;*/
    text-align: center;
}

.userDiv {
    color: var(--col-h2);
    font-size: 5vh;
}

.userDetailsBtn {
    border-radius: 1vw;
    width: 30vw;
    background-color: var(--col-h2);
}

.userDetailsBtn:hover {
    height: 3.3vh;
    background-color: var(--bg-bthHover);
    transition: 1s;
}

/*.userDetailsBtn:before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 5px;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    background: #a4a2a2;*/
/*    transform: skewX(20deg);*/
/*    filter: blur(15px);*/
/*    top: 0;*/
/*    left: -200px;*/
/*    animation: xxx 3500ms ease-in-out infinite;*/
/*}*/

/*@keyframes xxx {*/
/*    0% {*/
/*        left: -20px;*/
/*    }*/
/*    100%{*/
/*        left: 150%;*/
/*    }*/
/*}*/

